In [1]:
import pandas as pd
import numpy as np

import os

In [5]:
movies_df = pd.read_csv('../movies_dubbed copy.csv')
complete_info = pd.read_csv('../complete_info_t.csv')

In [7]:
movies_df.loc[movies_df['dubbed'] == 'over']

                   film dubbed
0    american history x   over
1                casinò   over
2     good will hunting   over
3                 crash   over
4            antichrist   over
8            the others   over
9        cinderella man   over
10    finding neverland   over
12            the hours   over
13                 saw3   over
14         notting hill   over
15         falling down   over
17         side effects   over
18                 hook   over
19          poltergeist   over
20                  saw   over
21            atonement   over
23   dancer in the dark   over
24     a beautiful mind   over
25  the lives of others   over
26          patch adams   over
29      the interpreter   over
30           the reader   over
31           fligthplan   over
32      the sixth sense   over
34             big fish   over
35         philadelphia   over
36         mystic river   over
37  lost in translation   over
38     matrimonio greco   over
39   brokeback mountain   over

In [6]:
complete_info.loc[complete_info['film'] == 'the impossible']

,file,speaker,film,emotion,language,transcritpion,timestamp
68,f_ans100ait,Barbara de Bortoli,the impossible,ans,it,"Aspetta, hai sentito?",NaN