In [1]:
import pandas as pd
import numpy as np

import os

In [9]:
movies_df = pd.read_csv('D:/Programming/nn/emotion_classification/datasets/emofilm/movies_dubbed copy.csv')
# complete_info = pd.read_csv('../complete_info_t.csv')

In [10]:
movies_df.loc[movies_df['dubbed'] == 'dub']

                     film dubbed
6     million dollar baby    dub
16         the impossible    dub
27         meet joe black    dub
33           pretty woman    dub
40                titanic    dub
41  the devil wears prada    dub

In [6]:
complete_info.loc[complete_info['film'] == 'the impossible']

,file,speaker,film,emotion,language,transcritpion,timestamp
68,f_ans100ait,Barbara de Bortoli,the impossible,ans,it,"Aspetta, hai sentito?",NaN