Визначимо, які фільми були використані у наборі даних, щоб перевірити наявність дубляжу українською мовою.

In [1]:
import pandas as pd
import numpy as np

import os

In [2]:
legend_f = pd.read_csv('../legend_f.csv')
legend_m = pd.read_csv('../legend_m.csv')

In [3]:
legend_m.head()

          file           speaker          film
0  m_ans001aen       Tim Robbins  Mystic river
1  m_ans001aes      Paco Gázquez  Mystic river
2  m_ans002aen       Tim Robbins  Mystic river
3  m_ans002aes      Paco Gázquez  Mystic river
4  m_ans002ait  Stefano de Sando  Mystic river

In [4]:
movies = np.concatenate((legend_f.film.unique(), legend_m.film.unique()), axis=0).ravel()
movies = set(map(lambda x: x.lower(), movies))

print(len(movies))

45

In [5]:
with open('../dubbed.txt', "w", encoding="utf-8") as f:
    for movie in movies:
        f.write(movie + '\n')

In [6]:
movies_df = pd.DataFrame(movies, columns=['film'])

In [7]:
dubbed_list = [False] * len(movies)
movies_df['dubbed'] = dubbed_list

In [8]:
movies_df.to_csv('../movies_dubbed.csv', mode='w', index=False)